@model IEnumerable<TallerBilly.Models.carstouser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehiculos Asignados a Usuarios</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<a href="~/Views/carstousers/Index.cshtml">~/Views/carstousers/Index.cshtml</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.createcarmodel.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createusermodel.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.createcarmodel.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createusermodel.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
