@model TallerBilly.Models.CreateCarModel
<body background="..\Images\wp3109781.jpg">
    @{
        //ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <font color="white">
                <h2 class="text-center">Agregar Vehiculo</h2>
            </font>
            <hr />
            <div class="container-fluid">
                <div class="col-md-6">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <div class="form-group input-group-prepend">
                        <font color="white">
                            <big> @Html.LabelFor(model => model.Placa, htmlAttributes: new { @class = "control-label col-md-2" })</big>
                        </font>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Placa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group input-group-prepend">
                        <font color="white">
                            <big>
                                @Html.LabelFor(model => model.VIN, htmlAttributes: new { @class = "control-label col-md-2" })
                            </big>
                        </font>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.VIN, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VIN, "", new { @class = "text-danger" })
                                </div>
                    </div>

                    <div class="form-group input-group-prepend">
                        <font color="white">
                            <big>
                                @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
                            </big>
                         </font>   
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
                                </div>
                    </div>

                    <div class="form-group input-group-prepend">
                        <font color="white">
                            <big>
                                @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                             </big>
                        </font>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                                </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group input-group-prepend">
                        <font color="white">
                            <big>
                                @Html.LabelFor(model => model.Ano, htmlAttributes: new { @class = "control-label col-md-2 pl-3" })
                            </big>
                        </font>    
                                <div class="col-md-10" style="left:30px">
                                    @Html.DropDownList("Ano", Enumerable.Range(1975, DateTime.Now.Year - 1974).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Ano, "", new { @class = "text-danger" })
                                </div>
                    </div>

                    <div class="form-group input-group-prepend">
                        <font color="white">
                            <big>
                                @Html.LabelFor(model => model.Combustible, htmlAttributes: new { @class = "control-label col-md-2 pl-3" })
                            </big>
                         </font>   
                                <div class="col-md-10" style="left:30px">
                                    @Html.EditorFor(model => model.Combustible, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.DropDownListFor(model => model.Transmision, (SelectList)ViewBag.Combustible, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.Combustible, "", new { @class = "text-danger" })
                                </div>
                    </div>

                    <div class="form-group input-group-prepend">
                        <font color="white">
                            <big>
                                @Html.LabelFor(model => model.Transmision, htmlAttributes: new { @class = "control-label col-md-2 pl-3" })
                             </big>
                         </font>   
                                <div class="col-md-10" style="left:30px">
                                    @Html.EditorFor(model => model.Transmision, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.DropDownListFor(model => model.Transmision, (IEnumerable<SelectListItem>)ViewBag.Transmision, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.Transmision, "", new { @class = "text-danger" })
                                </div>
                    </div>

                    <div class="form-group input-group-prepend">
                        <form id="myForm">
                            <font color="white">
                                <big>
                                    <label class="control-label col-md-2 pl-3" for="Cliente">Cliente</label>
                                 </big>
                             </font>   
                                    <div class="col-md-10" style="left:30px">
                                        <select class="form-control" id="UsuariosDropdown" name="UsuariosDropdown">
                                            @foreach (var user in ViewBag.users)
                                            {
                                                <option value="@user.Id">@user.Cedula - @user.Nombre @user.Apellido</option>
                                            }
                                        </select>
                                    </div>
                        </form>
                    </div>

                </div>

            </div>

            <div class="form-group input-group-prepend">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Agregar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Volver a la lista de vehiculos", "Index");
    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/jquery-3.0.0.js")
    }

    @*<script>
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "~/Controllers/CreateCarModelsController/getUsers",
                    data: "{}",
                    success: function (data) {
                        var s = '<option value="-1">Please Select a Department</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].ID + '"</option>';
                        }
                        $("#departmentsDropdown").html(s);
                    }
                });
            });
        </script>*@
</body>